# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# Dev scripts
/pages/scripts/2-deploy-drop.js
/pages/scripts/3-create-nft.js
/pages/scripts/4-set-claim-condition.js
/pages/scripts/5-create-token.js
/pages/scripts/6-airdrop.js
/pages/scripts/7-deploy-vote-module.js
/pages/scripts/8-supply-vote-power.js
/pages/scripts/9-create-proposal.js
/pages/scripts/10-revoke-roles.js

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
